---
import { getCollection } from "astro:content";
import CarCard from "./CarCard.astro";

const cars = await getCollection("cars");
---

<div class="flex flex-wrap gap-10 py-24 justify-center bg-zinc-950">
  {cars.map((car) => <CarCard car={car} />)}
</div>
