---
import CarCard from "./CarCard.astro";
---

<div class="flex flex-wrap gap-10 py-24 justify-center bg-zinc-950">
  <CarCard price="$999" carName="Lamborghini Huracan" />
  <CarCard price="$999" carName="Lamborghini Huracan" />
  <CarCard price="$999" carName="Lamborghini Huracan" />
  <CarCard price="$999" carName="Lamborghini Huracan" />
  <CarCard price="$999" carName="Lamborghini Huracan" />
</div>
