---
interface Props {
  data: {
    cardTitle: string;
    cardIcon: string;
    cardSubtitle: string;
  };
}

const { data } = Astro.props;
---

<div class="flex flex-col justify-center items-center">
  <img src={data.cardIcon} alt={data.cardTitle} class="w-1/2" />
  <h3 class="font-semibold text-2xl text-center">{data.cardTitle}</h3>
  <p class="font-ligt text-center">{data.cardSubtitle}</p>
</div>
