<div class="sticky bg-zinc-950 text-gray-200">
  <div class="flex flex-row p-4 justify-between">
    <div>
      <h2 class="font-bold">LOGO</h2>
    </div>
    <div>
      <ul class="inline-flex space-x-6">
        <li><a href="/">HOME</a></li>
        <li>CARS</li>
        <li>CONTACT</li>
      </ul>
    </div>
  </div>
</div>
