---
import AboutUs from "../components/AboutUs.astro";
import SecondaryPageLayout from "../layouts/SecondaryPageLayout.astro";
---

<SecondaryPageLayout navLink="about">
  <div class="pt-12 h-[85vh]">
    <AboutUs />
  </div>
</SecondaryPageLayout>
