---
//@ts-ignore
import { getCollection } from "astro:content";

import SecondaryPageLayout from "../layouts/SecondaryPageLayout.astro";
import CarCard from "../components/Cards/CarCard.astro";
import Brands from "../components/Brands.astro";

const cars = await getCollection("cars");
---

<SecondaryPageLayout navLink="fleet">
  <h1 class="text-center font-semibold text-3xl pt-24">Our Fleet</h1>
  <Brands />
  <div class="flex flex-wrap gap-10 justify-center my-12">
    {cars.map((car) => <CarCard car={car} />)}
  </div>
</SecondaryPageLayout>
