---
//@ts-ignore
import { getCollection } from "astro:content";

import SecondaryPageLayout from "../../layouts/SecondaryPageLayout.astro";
import CarCard from "../../components/Cards/CarCard.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("car-brand");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const brandCars = await getCollection("cars", ({ data }) => {
  return (
    data.make.toLowerCase().trim() === entry.data.title.toLowerCase().trim()
  );
});
---

<SecondaryPageLayout>
  <div class="pt-24">
    <div>
      <h1 class="text-center text-3xl font-semibold">
        {brandCars[0].data.make}
      </h1>
    </div>
    <div class="flex flex-wrap gap-10 justify-center pt-6 pb-12">
      {brandCars.map((car) => <CarCard car={car} />)}
    </div>
  </div>
</SecondaryPageLayout>
