---
import { getCollection } from "astro:content";
import CarCard from "./Cards/CarCard.astro";

const cars = await getCollection("cars");
---

<div class="py-24 bg-zinc-950">
  <h2 class="text-center font-semibold text-3xl mb-24 text-white">
    Our Car Fleet
  </h2>
  <div class="flex flex-wrap gap-10 justify-center">
    {cars.map((car) => <CarCard car={car} />)}
  </div>
</div>
