---
import TextInput from "./Inputs/TextInput.astro";
---

<div class="flex lg:flex-row flex-col justify-center gap-4">
  <div class="flex flex-col p-6 my-6 justify-center items-center lg:w-1/2">
    <div>
      <h2 class="text-center font-semibold text-3xl mb-6">
        You can contact us here
      </h2>
      <div class="flex flex-row justify-evenly text-lg">
        <div>
          <ul>
            <li>Phone number</li>
            <li>Phone number</li>
            <li>Email</li>
            <li>Address</li>
          </ul>
        </div>
        <div>
          <ul>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>LinkedIn</li>
            <li>Facebook</li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="flex justify-center items-center align-middle h-full w-full bg-gray-200"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d140929.8331988421!2d-80.40025607067707!3d25.607286918242284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9c3c80af08e15%3A0xdc8e1183d87fc49f!2sZoo%20Miami!5e0!3m2!1sen!2slt!4v1687770434159!5m2!1sen!2slt"
        class="h-full w-full"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center lg:w-1/2">
    <form
      class="flex flex-col gap-4 rounded-sm border p-6 my-6 shadow-2xl"
      action=""
    >
      <h2 class="text-center font-semibold text-3xl mb-6">
        Book Your Dream Ride
      </h2>
      <div class="flex md:flex-row flex-col gap-4">
        <TextInput type="text" name="first-name" label="First name:" />
        <TextInput type="text" name="last-name" label="Last name:" />
      </div>
      <TextInput type="text" name="email" label="Email:" />
      <TextInput type="text" name="phone-number" label="Phone number:" />
      <div class="flex flex-row gap-4">
        <TextInput type="date" name="date-from" label="Date from:" />
        <TextInput type="date" name="date-to" label="Date to:" />
      </div>
      <div class="flex flex-col">
        <label class="font-light" for="message">Message:</label>
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="5"
          class="p-1 border-2 border-zinc-300 outline-none active:border-red-600 focus:border-red-600 focus:outline-red-300 focus:outline-offset-0 rounded-sm"
        ></textarea>
      </div>
      <button
        class="bg-red-700 text-white py-2 rounded-sm hover:bg-red-800"
        type="submit">Submit</button
      >
    </form>
  </div>
</div>
