---
import { getEntry, getEntries } from "astro:content";
import CarCard from "./Cards/CarCard.astro";

const featuredCars = await getEntry("featured-cars", "featured-cars");

const bestsellers = await getEntries(featuredCars.data.bestsellers);
const newCars = await getEntries(featuredCars.data.newCars);
---

<style>
  .active {
    border-bottom: 2px white;
  }
</style>

<div class="py-12 bg-white">
  <h2 class="text-center font-semibold text-3xl mb-12 text-black">
    {featuredCars.data.title}
  </h2>
  <div>
    <div class="flex text-black justify-center mb-4 font-light leading-6">
      <button
        id="bestsellers-button"
        class="box-border border border-b-2 border-white border-b-black p-2 px-8 hover:text-gray-600"
        >Bestsellers</button
      >
      <button
        id="newcars-button"
        class="box-border border border-white border-b-black p-2 px-8 hover:text-gray-600"
        >New Cars</button
      >
    </div>
    <div id="bestsellers-container" class="block">
      <div class="flex flex-wrap gap-10 justify-center">
        {bestsellers.map((car) => <CarCard car={car} />)}
      </div>
    </div>
    <div id="newcars-container" class="hidden">
      <div class="flex flex-wrap gap-10 justify-center">
        {newCars.map((car) => <CarCard car={car} />)}
      </div>
    </div>
    <div class="flex justify-center items-center pt-12">
      <a
        href="/fleet"
        class="text-white p-4 px-8 rounded-sm bg-red-700 hover:bg-red-800 transition"
        >VIEW ALL CARS</a
      >
    </div>
  </div>
</div>

<script lang="js">
  const bestsellersButton = document.getElementById("bestsellers-button");
  const newcarsButton = document.getElementById("newcars-button");
  const bestsellersContainer = document.getElementById("bestsellers-container");
  const newcarsContainer = document.getElementById("newcars-container");

  let activeContainer = bestsellersContainer;

  bestsellersButton.addEventListener("click", () => {
    if (activeContainer !== bestsellersContainer) {
      bestsellersContainer.classList.remove("hidden");
      bestsellersContainer.classList.add("block");
      newcarsContainer.classList.remove("block");
      newcarsContainer.classList.add("hidden");
      newcarsButton.classList.remove("border-b-2");
      bestsellersButton.classList.add("border-b-2");
      activeContainer = bestsellersContainer;
    }
  });

  newcarsButton.addEventListener("click", () => {
    if (activeContainer !== newcarsContainer) {
      newcarsContainer.classList.remove("hidden");
      newcarsContainer.classList.add("block");
      bestsellersContainer.classList.remove("block");
      bestsellersContainer.classList.add("hidden");
      bestsellersButton.classList.remove("border-b-2");
      newcarsButton.classList.add("border-b-2");
      activeContainer = newcarsContainer;
    }
  });
</script>
