<div class="text-white bg-zinc-900">
  <div class="flex flex-row justify-between py-8 px-24">
    <div class="">
      <h2 class="font-bold">YOUR LOGO</h2>
      <p class="font-light">Experience the Thrill of Driving Exclusivity</p>
    </div>
    <div class="flex flex-row font-semibold gap-4 items-center justify-center">
      <p>email@email</p>
      <p>+1 111 111111</p>
    </div>
    <div class="flex flex-col">
      <p class="font-light mb-2">Subscribe to our exclusive deals</p>
      <input
        class="w-96 rounded-md py-1 px-2 text-black"
        type="text"
        name=""
        id=""
        placeholder="your@email.com"
      />
    </div>
  </div>
</div>
