<div
  class="flex align-middle justify-center bg-center"
  style="background-image: url(/huracan.jpg)"
>
  <div class="text-center p-48">
    <h1 class="font-semibold text-3xl">CAR RENTALS</h1>
    <h2 class="font-light">WE MAKE YOUR DREAMS COME TRUE</h2>
  </div>
</div>
