---
import { getEntry } from "astro:content";

const hero = await getEntry("hero", "hero");
---

<div
  class="flex align-middle justify-center bg-center"
  style="background-image: url(/huracan.jpg)"
>
  <div class="text-center p-48">
    <h1 class="font-semibold text-3xl">{hero.data.heading}</h1>
    <h2 class="font-light">{hero.data.subheading}</h2>
  </div>
</div>
