---
import { getEntry } from "astro:content";

const hero = await getEntry("hero", "hero");
---

<div
  class="flex align-middle justify-center bg-center bg-cover relative"
  style=`background-image: url(${hero.data.background})`
>
  <div class="text-center sm:p-48 p-32">
    <h1 class="font-semibold text-white text-3xl">{hero.data.heading}</h1>
    <h2 class="font-light text-white">{hero.data.subheading}</h2>
  </div>
  <svg
    viewBox="0 0 400 100"
    fill="none"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute bottom-[0px] w-full h-[100px] fill-white"
  >
    <path d="M200 100L400 0V100H200Z"></path>
    <path d="M200 100H0L0 0L200 100Z"></path>
  </svg>
</div>
