---
import { CollectionEntry, getCollection } from "astro:content";
const blogPosts = await getCollection("blog");

let latestPosts: CollectionEntry<"blog">[] = blogPosts;

if (latestPosts.length > 3) {
  latestPosts.length = 3;
}
---

<div class="flex flex-col my-24">
  <div>
    <h2 class="font-semibold text-3xl text-center">Latest News</h2>
  </div>
  <div class="flex flex-row justify-between mx-12 mt-12">
    {
      latestPosts.map((post) => (
        <div class="flex flex-col bg-green-500 w-96">
          <h3 class="font-semibold">{post.data.title}</h3>
          <p>{post.body}</p>
        </div>
      ))
    }
  </div>
</div>
