---
import NewsCard from "./Cards/NewsCard.astro";

import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");

interface BlogCard {
  title: string;
  publishingDate: string;
  image: string;
  summary: string;
  slug: string;
}

const cards: BlogCard[] = [];

blogPosts.length = 3;

blogPosts.map((post) => {
  const title = post.data.title;
  const publishingDate = post.data.publishingDate.toLocaleDateString();
  const image = post.data.featuredImage;
  const summary = post.data.intro.substring(0, 196).trim() + "...";
  const slug = post.slug;

  cards.push({ title, publishingDate, image, summary, slug });
});
---

<div class="flex flex-col my-24">
  <div>
    <h2 class="font-semibold text-3xl text-center">Latest News</h2>
  </div>
  <div
    class="flex w-full lg:flex-row flex-col justify-center items-center gap-4 mt-12 lg:px-16"
  >
    {cards.map((card) => <NewsCard card={card} />)}
  </div>
</div>
