---
import { getCollection } from "astro:content";
import ReviewCarousel from "../components/Carousels/ReviewCarousel.jsx";
import "@egjs/preact-flicking/dist/flicking.css";
const reviews = await getCollection("review");

interface Review {
  customerName: string;
  reviewText: string;
  reviewDate: string;
}

const reviewArr: Review[] = [];

reviews.map((review) => {
  const customerName = review.data.customerName;
  const reviewText = review.data.reviewText;
  const reviewDate = review.data.reviewDate.toLocaleDateString();

  reviewArr.push({ customerName, reviewText, reviewDate });
});
---

<div class="p-6 mt-6 bg-gray-50">
  <h2 class="font-semibold text-3xl text-center mb-3">Reviews</h2>
  <div class="flex flex-row">
    <ReviewCarousel reviews={reviewArr} client:load />
  </div>
</div>
