---
import { getEntry } from "astro:content";

const servicesAndFeatures = await getEntry(
  "services-and-features",
  "services-and-features"
);
---

<div class="p-6">
  <h1>{servicesAndFeatures.data.title}</h1>
</div>
