---
//@ts-ignore
import { getCollection } from "astro:content";

import SecondaryPageLayout from "../../layouts/SecondaryPageLayout.astro";
import CarGalleryCarousel from "../../components/Carousels/CarGalleryCarousel";

export async function getStaticPaths() {
  const blogEntries = await getCollection("cars");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<SecondaryPageLayout>
  <div class="pt-24 pb-12">
    <h1 class="text-center font-semibold text-3xl pb-6">
      {entry.data.make + " " + entry.data.model}
    </h1>
    <CarGalleryCarousel client:load photos={entry.data.galleryImages} />
  </div>
</SecondaryPageLayout>
