---
import Footer from "../components/Footer.astro";
import SecondaryPageNav from "../components/Navigation/SecondaryPageNav";

const { navLink } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="opacity-10 transition-opacity">
    <header>
      <SecondaryPageNav navLink={navLink} client:only="preact" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<script>
  window.onload = (event) => {
    document.body.classList.remove("opacity-10");
  };
</script>
